@model ContactsInformation.Web.ViewModels.Home.PersonStatusViewModel

<div class="row">
    <div class="col-sm-2">
        @Model.Status
    </div>
    <div class="col-sm-1">
        @using (Ajax.BeginForm(
                                "ChangePersonStatus",
                                "Home",
                                new { Id = Model.Id },
                                new AjaxOptions
                                {
                                    UpdateTargetId = "status-section-" + Model.Id,
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",

                                },
                                new { role = "form", id = "status-form" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Change" class="btn btn-primary" />
        }
    </div>
</div>

